@import url('https://fonts.cdnfonts.com/css/montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
}
* {
  user-select: none !important;
}

/* color codes */
.color-0{color: #ffffff;}
.color-1{color: #ff8800;}
.color-2{color: #ff8800;}
.color-3{color: #ff8800;}
.color-4{color: #ff8800;}
.color-5{color: #33b5e5;}
.color-6{color: #ff8800;}
.color-7{color: #ffffff;}
.color-8{color: #ff8800;}
.color-9{animation: rainbow 3s linear infinite;}

.color-u{color: lightgray;}
.color-g{color: #ff8800;}
.color-p{color: #ff8800;}
.color-e{color: #ff8800;}
.color-t{color: #5EB1BF;}
.color-j{color: #41BBD9;}
.color-f{color: #ff8800;}
.color-z{color: #ff8800;}
.color-i{color: #ff8800;}
.color-a{color: #ff8800;}
.color-r{color: #ff8800;}

@keyframes rainbow {
  from { color: #ff8800; }
  15% { color: #ff8800; }
  30% { color: #ff8800; }
  45% { color: #ff8800; }
  60% { color: #ff8800; }
  75% { color: #ff8800; }
  90% { color: #ff8800; }
  to { color: #ff8800; }
}


::selection {
  background: #888888;
  color: #fff;
}
::-moz-selection {
  background: #888888;
  color: #fff;
}
.posrev {
  position: relative;
}
.w100 {
  width: 100%;
}
.anim {
  transition: all 0.23232323s ease-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;
}
button, textarea, a, select, input {
  outline: none !important;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.skew3 {
  transform: skewY(-3deg);
}
.z200 {
  position: relative;
  z-index: 200;
}
.anim {
  transition: all 0.23232323s easy-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;
}
.hud-chat {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ui-slider-range {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  background: #888888;
}
.main-chat-enter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}
.main-chat-enter input, .chat-hud-action input{
  display: none;
  opacity: 0;
  position: absolute;
  left: -3000em;
}

.main-chat-enter input + label, .chat-hud-action input + label{

  position: relative;
  display: inline-block;
  z-index: 10;

  user-select: none;
  cursor: pointer;

  width: auto;
  min-width: 56px;
  
  padding: 1px 7px;
  margin-right: 6px;
  margin-bottom: 6px;

  transition: all 0.23232323s ease-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;


  background: url(https://autentificare.xyz/cdn/evolve/chat/iconita1-chat.png) no-repeat;
  background-size: 56px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.7;
  white-space: nowrap;
  text-align: center;
  line-height: 2.1;
}

.main-chat-wrap {
  display: block;
  position: absolute;
  left: 20px;
  top: 2vh;
  width: 623px;
  min-width: 430px;
}
.chat-posts {
  height: 500px;
  overflow-y: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  unicode-bidi: bidi-override;
  direction: rtl;
  z-index: 2;
  align-items: flex-end;
}
::-webkit-scrollbar {
  /* width: 4px; */
  display: none;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #24272d;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #24272d;
}
.chat-posts.height30 {
  height: 398px;
}
.chat-posts.height40 {
  height: 40vh;
}
.chat-posts.height50 {
  height: 50vh;
}
.chat-posts.height60 {
  height: 60vh;
}
.chat-posts.height70 {
  height: 70vh;
}
.chat-posts.height80 {
  height: 80vh;
}

@keyframes fadeInSlide {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.chat-posts .chat-post {
  position: relative;
  margin-bottom: 7px;
  font-size: 13px;
  letter-spacing: .1px;
  color: #fff;
  line-height: 1.3;
  direction: ltr;

  display: flex; 
  align-items: center;
  gap: 5px;

  animation: fadeInSlide 1s ease-out forwards;
}


.chat-posts .chat-post strong.green {
  color: #6fec48;
}
.chat-posts .chat-post strong.yellow {
  color: #ffdb34;
}
.chat-hud-wrap {
  margin: 0 10px;
}
.chat-hud-wrap > button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: transparent;
  border: 0;
  box-shadow: none;
  opacity: .5;
}
.chat-hud-wrap > button img {
  width: 30px;
  margin-right: 10px;
}
.chat-hud-input {
  background: #ffffff08;
  border: .25vh solid #ffffff09;
  border-radius: .35vw;
  padding: 16px 36px 16px 16px;
  line-height: 1;
  font-size: 17px;
  color: rgb(255, 255, 255);
  width: 100%;
  font-variant-ligatures: none;
}

.chat-hud-input::placeholder {
  color: hsla(0, 0%, 100%, .45);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .2px;
}

.hud-chat .main-button-chat {
  
  position: relative;
  display: inline-block;
  z-index: 10;

  user-select: none;
  cursor: pointer;

  width: auto;
  min-width: 56px;
  
  padding: 1px 7px;
  margin-right: 6px;
  margin-bottom: 6px;

  transition: all 0.23232323s ease-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;


  background: url(https://autentificare.xyz/cdn/evolve/chat/iconita1-chat.png) no-repeat;
  background-size: 56px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.7;
  white-space: nowrap;
  text-align: center;
  line-height: 2.1;

}

.hud-chat .main-button-chat.opacity {
  opacity: 0.5;
}
.hud-chat .chat-hud-action {
  margin: 5px 10px;
  display: flex;
}
.hud-chat .chat-hud-action .chat-actions-hidden {
  display: flex;
}
.chat-posts .chat-post strong.chat-ico-police {
  color: #82d3ff;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-police:before {
  content: "";
  background: url(../images/chat/police/ico-1.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-army {
  color: #ded9af;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-army:before {
  content: "";
  background: url(../images/chat/army/military.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post change_color{
  color: #c4ccdc;
}
.chat-posts .chat-post strong.chat-ico-log {
  color: #c4ccdc;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-log:before {
  content: "";
  background: url(../images/chat/FIB/editing.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  margin-top: 3px;
}
.chat-posts .chat-post strong.chat-ico-gang1 {
  color: #ffe629;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-gang1:before {
  content: "";
  background: url(../images/chat/gang/band1.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-gang2 {
  color: #2ee1b1;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-gang2:before {
  content: "";
  background: url(../images/chat/gang/band2.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-gang3 {
  color: #3a82da;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-gang3:before {
  content: "";
  background: url(../images/chat/gang/band3.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-gang4 {
  color: #a53ada;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-gang4:before {
  content: "";
  background: url(../images/chat/gang/band4.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-gang5 {
  color: #fd3426;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-gang5:before {
  content: "";
  background: url(../images/chat/gang/band5.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-FIB {
  color: #b2c7d3;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-FIB:before {
  content: "";
  background: url(../images/chat/FIB/Fbi.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  margin-top: 3px;
}
.chat-posts .chat-post strong.chat-ico-government {
  color: #c4d2fa;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-government:before {
  content: "";
  background: url(../images/chat/government/parliament.svg) no-repeat;
  width: 18px;
  height: 28px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-medic {
  color: #e74424;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-medic:before {
  content: "";
  background: url(../images/chat/medic/medicine.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-smi {
  color: #de594e;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-smi:before {
  content: "";
  background: url(../images/chat/smi/reach.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-efir {
  color: #de594e;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-efir:before {
  content: "";
  background: url(../images/chat/smi/radio.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-megaphone {
  color: #F6BE00;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-megaphone:before {
  content: "";
  background: url(../images/chat/police/megaphone.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family {
  color: #fdea05;
  line-height: 1.6em;
  padding-left: 32px;
 /*de594e*/
}
.chat-posts .chat-post strong.chat-ico-family-color {
  line-height: 1.6em;
  padding-left: 32px;
 /*de594e*/
}
.chat-posts .chat-post strong.chat-ico-family1:before {
  content: "";
  background: url(../images/chat/family/fam0.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family2:before {
  content: "";
  background: url(../images/chat/family/fam1.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family3:before {
  content: "";
  background: url(../images/chat/family/fam2.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-adminteam:before {
  content: "";
  background: url(https://cdn.relaxrp.ro/phone/apps_icon/logo.svg) no-repeat;
  width: 28px;
  height: 31.5px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: -.15vw;
}


.chat-posts .chat-post strong.chat-ico-family4:before {
  content: "";
  background: url(../images/chat/family/fam3.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family5:before {
  content: "";
  background: url(../images/chat/family/fam4.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family6:before {
  content: "";
  background: url(../images/chat/family/fam5.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family7:before {
  content: "";
  background: url(../images/chat/family/fam6.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family8:before {
  content: "";
  background: url(../images/chat/family/fam7.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family9:before {
  content: "";
  background: url(../images/chat/family/fam8.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-family10:before {
  content: "";
  background: url(../images/chat/family/fam9.svg) no-repeat;
  width: 18px;
  height: 28px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
/* .chat-posts .chat-post {
  font-size: 18px;
  letter-spacing: 0.05em;
}
.chat-posts .chat-post {
  font-size: 18px;
  letter-spacing: 0.05em;
}
.chat-posts .chat-post {
  font-size: 18px;
  letter-spacing: 0.05em;
} */
.chat-posts .chat-post strong {
 /* text-transform: uppercase;
  */
 /* display: inline-flex;
  */
}
.chat-posts .chat-post span {
 /* text-transform: uppercase;
  */
  display: inline-flex;
}
.chat-posts .chat-post .chat-ico-1 > img {
  width: 18px;
  height: 21px;
  margin-right: 10px;
}
.chat-posts .chat-post.smi-ad {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr;
  padding-left: 16px;
}
.chat-posts .chat-post .chat-smi-wrap > span:nth-child(1) {
  display: inline-flex;
  margin-bottom: 5px;
  align-items: center;
}
.chat-posts .chat-post .chat-smi-wrap > span:nth-child(2) {
  color: hsla(0, 0%, 100%, .8);
}
.chat-posts .chat-post.property .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/home-run.svg);
  background-size: 15px 16px;
  background-color: #13b047;
}
.chat-posts .chat-post.auto .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/car.svg);
  background-size: 18px 18px;
  background-color: #2089f4;
}
.chat-posts .chat-post.biz .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/work.svg);
  background-size: 16px 15px;
  background-color: #7151d8;
}
.chat-posts .chat-post.discount .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/sale.svg);
  background-size: 15px 15px;
  background-color: #F60000;
}
.chat-posts .chat-post.job .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/helmet.svg);
  background-size: 17px 17px;
  background-color: #5F5F5F;
}
.chat-posts .chat-post.love .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/heart.svg);
  background-size: 15px 13px;
  background-color: #F6807F;
}
.chat-posts .chat-post.utilities .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/tools.svg);
  background-size: 15px 13px;
  background-color: #F68929;
}
.chat-posts .chat-post.other .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/endless.svg);
  background-size: 17px 17px;
  background-color: #000;
}
.chat-posts .chat-post.smi-ad .chat-smi-wrap > span:nth-child(1):before {
  min-width: 24px;
  min-height: 24px;
  max-height: 24px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
 /* display: inline-flex;
  */
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: solid 1px #fff;
  background: unset;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  cursor: pointer;
  transition: all 0.23232323s ease-in-out;
  transition: all 0.23232323s easy-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button:hover {
  background: rgba(255,255,255,0.1);
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button:last-child {
  margin-right: unset;
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button img {
  min-width: 12px;
  min-height: 12px;
  max-width: 12px;
  max-height: 12px;
}
.chat-posts .chat-post.smi-ad .chat-post-buttons {
  display: flex;
  margin-right: 10px;
}
.chat-posts .chat-post.smi-ad .chat-smi-wrap > span:nth-child(2) {
  display: flex;
  font-size: 14px;
  align-items: center;
  letter-spacing: 0.03em;
}
.chat-posts .chat-post.smi-ad > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-posts .chat-post.smi-ad > span > img {
  width: 26px;
  height: 26px;

  margin-right: 22px;
}

.hud-chat .shadow-chat {
  position: absolute;
  background: url(../images/chat/shadow-chat.png) no-repeat;
  left: 0;
  top: 0;
  width: 70vh;
  height: 50vh;
  background-size: 100% 100%;
  opacity: 0.7;
}
.chat-posts .chat-post strong.chat-ico-mafia1 {
  color: #999999;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-mafia1:before {
  content: "";
  background: url(../images/chat/mafia/mafia1.svg) no-repeat;
  width: 18px;
  height: 28px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-mafia2 {
  color: #cc9900;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-mafia2:before {
  content: "";
  background: url(../images/chat/mafia/mafia2.svg) no-repeat;
  width: 18px;
  height: 28px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-mafia3 {
  color: #cccc00;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-mafia3:before {
  content: "";
  background: url(../images/chat/mafia/mafia3.svg) no-repeat;
  width: 18px;
  height: 28px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}


.disable-pointer-evs{
  pointer-events: none !important;
  opacity: .5 !important;
}

.staff-box {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 6px;
  font-weight: 600;
  background: var(--staff-color, #FD4D50);
  box-shadow: 0px 0px 20px 5px rgba(253, 77, 80, 0.25);
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  margin-right: 5px;
}

.jucator-box { 
  background-color: #888888;
  box-shadow: 0px 0px 10px 2px #888888b3;
  color: white;
}

.admin-box {
  background-color: #ff0000;
  box-shadow: 0px 0px 15px 3px rgba(255, 0, 0, 0.7);
}

.fondator-box {
  background-color: #b86500;
  box-shadow: 0px 0px 15px 3px rgba(184, 101, 0, 0.7);
}

.name-box {
  display: inline-block;
  padding: 2px 6px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin-right: 2px;
}

.name-box.staff-colored {
  background: var(--staff-color, rgba(255, 255, 255, 0.1));
  color: white;
}

.time-box {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.35;
  min-width: 55px;
  text-align: right;
}

.msg-box {
  display: inline-block;
  word-wrap: break-word;
  padding: 4px 8px;
}